<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login_Servlet</servlet-name>
  	<display-name>Login_Servlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.Login_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Register_Servlet</servlet-name>
  	<display-name>Register_Servlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.Register_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherServlet</servlet-name>
  	<display-name>TeacherServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeachReg_Servlet</servlet-name>
  	<display-name>TeachReg_Servlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.TeachReg_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Admin_login_servlet</servlet-name>
  	<display-name>Admin_login_servlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.Admin_login_servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Course_Servlet</servlet-name>
  	<display-name>Course_Servlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.Course_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignCourse_Servlet</servlet-name>
  	<display-name>AssignCourse_Servlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.AssignCourse_Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegCourseServlet</servlet-name>
  	<display-name>RegCourseServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.RegCourseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>enrollServlet</servlet-name>
  	<display-name>enrollServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.enrollServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>marksServlet</servlet-name>
  	<display-name>marksServlet</display-name>
  	<description></description>
  	<servlet-class>com.tech.blog.servlet.marksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Login_Servlet</servlet-name>
  	<url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Register_Servlet</servlet-name>
  	<url-pattern>/Register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherServlet</servlet-name>
  	<url-pattern>/TeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeachReg_Servlet</servlet-name>
  	<url-pattern>/TeachReg_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Admin_login_servlet</servlet-name>
  	<url-pattern>/Admin_login_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Course_Servlet</servlet-name>
  	<url-pattern>/Course_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignCourse_Servlet</servlet-name>
  	<url-pattern>/AssignCourse_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegCourseServlet</servlet-name>
  	<url-pattern>/RegCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>enrollServlet</servlet-name>
  	<url-pattern>/enrollServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>marksServlet</servlet-name>
  	<url-pattern>/marksServlet</url-pattern>
  </servlet-mapping>
</web-app>
